:root {
  --almost-black: hsl(0, 0%, 8%);
  --almost-white: hsl(0, 0%, 98%);
  --medium-grey: hsl(0, 0%, 41%);
}

* {
  background-color: var(--almost-white);
  box-sizing: border-box;
  color: var(--medium-grey);
  font-family: 'Epilogue', sans-serif;
  margin: 0;
}

header {
  font-size: 18px;
  height: 68px;
  padding: 20px;
}

.header__button.no-border {
  border: none;
}

.header__menu-icon {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 999;
}

.header__menu-icon--open {
  height: 20px;
}

.header__menu-icon--close {
  height: 28px;
}

/* .desktop-navbar {
  display: none;
} */

.hero {
  width: 100%;
}

.hero__image {
  width: 100%;
}

main {
  text-align: center;
  padding: 44px 20px 32px;
}

.main__title {
  color: var(--almost-black);
  font-weight: 700;
  margin-bottom: 32px;
}

.main__text {
  font-size: 18px;
  line-height: 1.3em;
}

.cta {
  display: flex;
  width: 100%;
  justify-content: center;
}

.cta__button {
  background-color: var(--almost-black);
  border: 1px solid var(--almost-black);
  border-radius: 16px;
  color: var(--almost-white);
  margin-bottom: 48px;
  padding: 16px 32px;
}

.footer__clients {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
  padding: 16px;
}

.footer__attribution {
  text-align: center;
  font-size: 12px;
  padding-bottom: 8px;
}

.mobile-sidebar {
  display: none;
  background-color: rgba(0, 0, 0, 0.75);
  font-size: 18px;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.mobile-sidebar__menu {
  height: 100%;
  padding: 20px;
  position: absolute;
  right: 0;
  width: 65%;
}

.menu__header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 32px;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.mobile-sidebar__menu li {
  padding-bottom: 20px;
}

.navbar-label-with-icon {
  display: flex;
  align-items: center;
}

.icon-left {
  padding-right: 8px;
}

.icon-right {
  padding-left: 8px;
}

.second-level-list {
  padding-left: 20px;
}

@media (min-width: 1024px) {
  html {
    padding: 0 40px;
  }

  header {
    display: flex;
    height: 80px;
    padding: 20px 0;
  }

  .header__button.mobile {
    display: none;
  }

  .logo {
    align-self: end;
    height: 28px;
  }

  nav {
    align-items: center;
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    padding-left: 60px;
    width: 100%;
  }

  nav > ul {
    display: flex;
    justify-content: space-between;
    width: 50%;
  }

  .header__button.desktop {
    height: 40px;
    width: 102px;
  }

  .header__button.border {
    border: 1px solid var(--almost-black);
    border-radius: 12px;
  }
}